/*公共CSS*/

.fl{
    float: left;
}

.fr{
    float: right;
}

.comWidth{
    width: 100%;
}

.text_YaHei{
    font-family: "Microsoft YaHei" ! important;
    color: black;
}

.text_size{
    font-size: 16px;
    display: inline-block;
    line-height: 100%;
}

:root,body {
    font-family: "Microsoft YaHei" ! important;
    background-color:#ededed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{display:-webkit-box;-webkit-box-orient:vertical; font-size: 62.5%;}

.center{
    display: inline-block;
    margin: auto;
}

.grey{
    background: grey;
}


.container{
	position:relative;
    left: 0%;
}
/*nav部分*/
.left_nav{
    background-color: #525253;
    width: 40%;
    position: absolute;
    float: left;
    left: -40%;
    height: 100%;
}


.nav_top{
    position: absolute;
    width:100%;
    height:6%;
    top:0px;
    z-index:1000;
	background-color:#EDEDED;
    border-bottom: grey solid 1px;
}

.left_z_nav_div{
    width: 100%;
    height: 240px;
    margin-top: 50px;
}

.left_nav_div{
    width: 100%;
    height: 60px;
}

.left_nav_div p{
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 20px;
}

.top_l{
    position:absolute;
    margin-left: 5%;
    width: 10%;
    height: 90%;
}

.top_c{
    position:absolute;
    margin-left:42%;
    margin-bottom:0;
    height: 100%;
    line-height: 100%;
}

.top_c p{
    display: inline-block;
    line-height: 40px;
    font-size:16px
}

.top_r{
    position: absolute;
    margin-left: 88%;
    margin-bottom:0px;
    height:100%;
    line-height:100%;
    margin-top:4%;
}

.top_r p{
    font-size:16px;
}

/*nav_bottom部分*/

.nav_footer{
    width:100%;
    height:8%;
    background:#EDEDED;
    position:fixed;
    bottom:0;
    z-index:1000;
    border-top: grey solid 1px;
}

.bottom_r{
    position: absolute;
    margin-left: 88%;
    margin-bottom:8px;
    margin-top: 4px;
}

.bottom_c{
    position:absolute;
    margin-left:45%;
    margin-bottom:8px;
    margin-top: 4px;
}

.bottom_l{
    position: absolute;
    margin-left: 20px;
    margin-bottom:8px;
    margin-top: 4px;
}

.text_center{
    text-align: center;
}


/*banner部分*/

.banner{
    margin-top:10%;
}

.contanter{
    
    height: 500px;
}

.serveClass{
    background: gray;
    height: 25%;
}

.serveShow{
    background: white;
    width: 25%;
    height: 100%;
}

.serveShow_icon{
    width: 60%;
    margin: 20% auto;
}

/*home页*/

.home_contanter{
	margin-top:10%;
	width:100%;
	height:500px;
}

.homeClass{
    width: 80%;
    height: 80%;
    margin:4% auto;
}

.homeClass a{

    display: inline-block;
    height: 50%;
    width: 100%;
    margin: 4% auto;
    text-align: left;
    font-size: 20px;

}

.homeClass_total{
    background: white;
    height: 16%;
    border-bottom: darkgray solid 1px;
}

/*分割区域线*/
.break{
    background: #EDEDED;
    height: 12px;
}

.break_bottom{
    background: #EDEDED;
    height: 200px;
}

/*中间banner区域*/
.banner_center{
    background: white;
    height: 200px;
}

.banner_center_l{
    height: 160px;
    margin: 20px;
}

.banner_center_r{
    background: red;
    height: 120px;
    height: auto;
    margin: 40px;
}

/*登录界面*/

.login_contanter{
    height: 500px;
    margin-top: 14%;
}
.login_name{
    margin:20px auto;
    height: 50px;
    width: 80%;
    
}

.name_text{
    height: 50px;
    width: 100%;
    padding: 0 0;
}

.login_btn{
    height: 50px;
    width: 100%;
    padding: 0 5px;
    margin:0 auto;
    font-size:18px;
    
}

.login_btn a{
    display:block;
    line-height:50px;
    width:100%;
    height:50px;
}

/*门禁系统*/

.friend_list{
    margin-top:10%;
    height: 100px;
    width: 100%;

}

.friend_list_position{
    width: 80%;
    height: 20%;
    margin: 40px auto;
}

.friend_list_position p{
    font-size: 20px;
}


/*生活服务页面*/
.life_Class_total{
    background: white;
    height: 28%;
    margin: 20px auto;
}

.lifeservice_Class{
    height: 80%;
    width: 80%;
    margin: 20px auto;

}

.lifeservice_Class p{
    font-size: 20px;
}
